snippet if "the if " w
if ($1){
	$0
}
endsnippet

snippet for "the for" w
for ($1; $2; $3){
	$0
}
endsnippet

snippet voi "the void function" w
void${1:funcname} (${2:vars}){
	$0
}
endsnippet

snippet class "a new class" b
class ${1:Solution}{
public:
	${2:int} ${3:func}($4){
		$0
	}
};
endsnippet
