
# 
# operation control

snippet if 
if {
    $1
}
$0
endsnippet

snippet ife
if {
    $1
} else {
    $2
}
$0
endsnippet

snippet for
for {$1; $2; $3}{
    $4
}
$0
endsnippet 

snippet whi
while ($1){
    $2
}
$0
endsnippet 

snippet func
function ${1:main}($2){
    $3
}
$0
endsnippet 


#							#
#############################
