[user]
	email = ahacad@126.com
	name = ahacad
	signingkey = 1AAC6728F20CB30BC25821B1D9AE2A0615FC11A3
[alias]
	ci = commit
	d = difftool
	psa = !git remote | xargs -L1 git push --all
;[core]
	;quotepath = false
    ;pager = delta
[diff]
	tool = vimdiff3
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[http]
    proxy = socks5://127.0.0.1:7890
    sslVerify = false
[https]
    proxy = socks5://127.0.0.1:7890
[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    ;minus-style = red bold ul "#ffeeee"
    line-numbers = true
    side-by-side = true
[interactive]
    diffFilter = delta --color-only
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[merge]
	tool = vimdiff3
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool "vimdiff3"]
	path = nvim
[commit]
	gpgsign = true
;[remote "origin"]
	;proxy = 
