[user]
	email = ahacad@126.com
	name = ahacad
[alias]
	ci = commit
	d = difftool
	psa = !git remote | xargs -L1 git push --all
;[core]
	;quotepath = false
    ;pager = delta
[diff]
	tool = nvimdiff
[difftool]
	prompt = true
;[http]
    ;proxy = socks5://127.0.0.1:7890
    ;sslVerify = false
;[https]
    ;proxy = socks5://127.0.0.1:7890
[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended
    ;minus-style = red bold ul "#ffeeee"
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""


[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
